<div class="card" style="width: 100%;">
    <div class="card-body">
        <img src="img/wsl.ico" class="rounded float-left" alt="..." style="width: 50px;">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of tlk of the card's clk of the card's clk of the card's clk of the card's clk of the card's che card's content.
            <img src="img/download.png" class="rounded float-right" alt="..." style="width: 50px;">
        </p>
    </div>
</div>