<div class="card" style="width: 100%;">
    <h6 class="card-header"><strong>总排名</strong></h6>
    <div class="card-body">
        <h6><span class="badge badge-danger">1</span>Example heading </h6>
        <h6><span class="badge badge-primary">2</span>Example heading </h6>
        <h6><span class="badge badge-success">3</span>Example heading </h6>
        <h6><span class="badge badge-info">4</span>Example heading </h6>
        <h6><span class="badge badge-secondary">5</span>Example heading </h6>
        <h6><span class="badge badge-secondary">6</span>Example heading </h6>
        <h6><span class="badge badge-secondary">7</span>Example heading </h6>
        <h6><span class="badge badge-secondary">8</span>Example heading </h6>
        <h6><span class="badge badge-secondary">9</span>Example heading </h6>
        <h6><span class="badge badge-secondary">10</span>Example heading </h6>
    </div>
</div>