      <ul class="list-group">
    <li class="list-group-item list-group-item-primary">
        软件分类
    </li>
    <li class="list-group-item">
        软件分类
    </li>
    <li class="list-group-item">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        软件分类
    </li>
    <li class="list-group-item ">
        <button class="btn-info btn">后台管理</button>
    </li>
</ul>